.image_slides {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    background-position: center;
    background-size: cover;

}

.image_slider {
    height: 100%;
    position: relative;
}