.service_enquiry{
    box-shadow: 0 0 10px 0 rgba(0, 0, 1, 0.2);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    border-radius: 0.5rem;
    margin-top: -3rem;
    height: 40vh;
    position: fixed;
    overflow: hidden;
    z-index: 1000;
    background-color: white;
    margin-left: 70vw;
    
}

.service_query_user_info{
    width: 20rem;
}